/* 颜色 */
:root {
    --md-primary-fg-color:        #1883dc;
    --md-primary-fg-color--light: #4fc1ee;
    --md-primary-fg-color--dark:  #208716;
}

[data-md-color-scheme="Light"] {
    --md-primary-fg-color:        #248fdb;
    --md-default-bg-color:        #ffffff;
}

[data-md-color-scheme="EyeProtect"] {
    --md-hue: 180;  /* 主色调-蓝绿色 */
    --md-primary-fg-color:        #248fdb;  /* 主题色，如顶栏 */
    --md-primary-fg-color--light: rgb(141, 221, 255);
    --md-primary-fg-color--dark:  #073c75;
    
    /* --md-default-fg-color:hsla(var(--md-hue), 15%, 30%, 1);  */
    --md-default-fg-color: #388ba9ce;       /* 默认普通字体颜色, 可通过--md-typeset-color修改; 如果S和L值都设为0，搜索框文字颜色一直为白 */
    --md-default-fg-color--light:hsla(var(--md-hue), 3%, 30%, 1); /* 字体-light 如代码注释、目录已读内容、代码运算符默认为此颜色 */
    --md-default-fg-color--lighter:hsla(var(--md-hue),3%, 70%, 1);
    --md-default-fg-color--lightest:hsla(var(--md-hue),3%,95%, 1); 

    --md-default-bg-color: hsla(var(--md-hue), 20%, 95%, 1); /* 主界面背景色*/
    /* --md-default-bg-color: #ffc9660e;   */
    --md-default-bg-color--light:hsla(var(--md-hue),15%,21%, 0.54);
    --md-default-bg-color--lighter:hsla(var(--md-hue),15%,21%, 0.26);
    --md-default-bg-color--lightest:hsla(var(--md-hue),15%,21%, 0.07);

    --md-code-bg-color:hsla(var(--md-hue), 8%, 90%, 1); /* 代码体背景色 */
    /* --md-code-bg-color:rgb(120, 120, 120); 代码体背景色 */
    --md-code-fg-color:#0008ff;
    --md-code-hl-color:#0066ff; 
    --md-code-hl-number-color:rgb(173, 104, 0); /* 代码-数字 */
    --md-code-hl-special-color:#b60000; /* 代码-特殊字符, 如头文件包含 */
    --md-code-hl-function-color:#1588db; /* 代码-函数名 */
    --md-code-hl-constant-color:#855722; /* 代码-常量 */
    --md-code-hl-keyword-color:#ea0979;  /* 代码-关键字 */
    --md-code-hl-string-color:#006142;   /* 代码-字符串 */
    /* --md-code-hl-name-color: var(--md-code-fg-color);  */
    --md-code-hl-name-color: #0025cd;  /* 代码-变量名 */
    /* --md-code-hl-operator-color:var(--md-default-fg-color--light);  */
    --md-code-hl-operator-color: #3a3a3a; /* 代码-运算符 */
    /* --md-code-hl-punctuation-color:var(--md-default-fg-color--light); */
    --md-code-hl-punctuation-color: #858585;  /* 代码-标点符 */
    /* --md-code-hl-comment-color:var(--md-default-fg-color--light); */
    --md-code-hl-comment-color: #00a62f;  /* 代码-注释 */
    --md-code-hl-generic-color:var(--md-default-fg-color--light);
    /* --md-code-hl-variable-color:var(--md-default-fg-color--light);  */
    --md-code-hl-variable-color: #050303;  /* 变量 */
    
    /* --md-typeset-color:var(--md-default-fg-color); */
    --md-typeset-color: #000000; /* 普通字体颜色 */
    --md-typeset-a-color:var(--md-primary-fg-color); /* 当前页面-目录高亮 */
    /* --md-typeset-a-color: #4004c2; */
    --md-typeset-mark-color:#fff198b1; /* 标记颜色，如搜索高亮 */

    /* --md-typeset-kbd-color: hsla(var(--md-hue),15%,50%, 0.9); */
    --md-typeset-kbd-color: #3c7aff;
    /* --md-typeset-kbd-accent-color:hsla(var(--md-hue),15%,50%, 0.8); */
    --md-typeset-kbd-accent-color: #5ec1ff;
    /* --md-typeset-kbd-border-color:hsla(var(--md-hue),15%,14%,1); */
    --md-typeset-kbd-border-color: #9eeaff;

    /* --md-typeset-table-color:hsla(var(--md-hue),75%,95%,0.12);  */
    --md-typeset-table-color: #0d64a392; /* 表格线颜色 */
    /* --md-typeset-table-color--light:hsla(var(--md-hue),75%,95%, 0.035); */
    --md-typeset-table-color--light: hsla(205, 100%, 50%, 0.068); /* 表格项鼠标悬停颜色 */

    /* --md-admonition-fg-color:var(--md-default-fg-color); */
    --md-admonition-fg-color: #001e34; /* 警告框字体颜色 */
    /* --md-admonition-bg-color:var(--md-default-bg-color); */
    --md-admonition-bg-color: #f3fbf8e5;  /* 警告框背景颜色 */

    /* --md-footer-bg-color: hsla(var(--md-hue),15%,12%,0.87); */ 
    --md-footer-bg-color: #166094; /* 页脚导航栏颜色 */
    /* --md-footer-bg-color--dark: hsla(var(--md-hue),15%, 30%,0.8); */
    --md-footer-bg-color--dark: #166094; /* 页脚背景色 */


    /* 阴影 */
    /* --md-shadow-z1:0 0.2rem 0.5rem rgba(218, 177, 156, 0.79),0 0 0.05rem #0000001a; */
    --md-shadow-z1:0 0.2rem 0.5rem #039fff26,0 0 0.05rem #0000001a; /* 如：警告框阴影 */
    --md-shadow-z2:0 0.2rem 0.5rem #029eff33,0 0 0.05rem #00000040; /* 如：回到顶部提示按钮阴影 */
    --md-shadow-z3:0 0.2rem 0.4rem #25d7ff65,0 0 0.05rem #a8dcff;  /* 如：搜索框阴影 */
    /* color-scheme: dark */
}

[data-md-color-scheme="Dark"] {
    /* --md-primary-fg-color:        #329de9; */
    --md-primary-fg-color:        #248fdb;
    --md-primary-fg-color--light: #dea03c;
    --md-primary-fg-color--dark:  #208716; 
    --md-default-fg-color:hsla(var(--md-hue),75%,95%,1);
    --md-default-fg-color--light:hsla(var(--md-hue),75%,90%,0.62);
    --md-default-fg-color--lighter:hsla(var(--md-hue),75%,90%,0.32);
    --md-default-fg-color--lightest:hsla(var(--md-hue),75%,90%,0.12);
    --md-default-bg-color:hsla(var(--md-hue),15%,21%,1);
    --md-default-bg-color--light:hsla(var(--md-hue),15%,21%,0.54);
    --md-default-bg-color--lighter:hsla(var(--md-hue),15%,21%,0.26);
    --md-default-bg-color--lightest:hsla(var(--md-hue),15%,21%,0.07);
    --md-code-fg-color:hsla(var(--md-hue),18%,86%,1);
    --md-code-bg-color:hsla(var(--md-hue),15%,15%,1);
    --md-code-hl-color:#4287ff26;
    --md-code-hl-number-color:#e6695b;
    --md-code-hl-special-color:#f06090;
    --md-code-hl-function-color:#c973d9;
    --md-code-hl-constant-color:#9383e2;
    --md-code-hl-keyword-color:#6791e0;
    --md-code-hl-string-color:#2fb170;
    --md-code-hl-name-color:var(--md-code-fg-color);
    --md-code-hl-operator-color:var(--md-default-fg-color--light);
    --md-code-hl-punctuation-color:var(--md-default-fg-color--light);
    --md-code-hl-comment-color:var(--md-default-fg-color--light);
    --md-code-hl-generic-color:var(--md-default-fg-color--light);
    --md-code-hl-variable-color:var(--md-default-fg-color--light);
    --md-typeset-color:var(--md-default-fg-color);
    --md-typeset-a-color:var(--md-primary-fg-color);
    --md-typeset-mark-color:#ffb7424d;
    --md-typeset-kbd-color:hsla(var(--md-hue),15%,94%,0.12);
    --md-typeset-kbd-accent-color:hsla(var(--md-hue),15%,94%,0.2);
    --md-typeset-kbd-border-color:hsla(var(--md-hue),15%,14%,1);
    --md-typeset-table-color:hsla(var(--md-hue),75%,95%,0.12);
    --md-typeset-table-color--light:hsla(var(--md-hue),75%,95%,0.035);
    --md-admonition-fg-color:var(--md-default-fg-color);
    --md-admonition-bg-color:var(--md-default-bg-color);
    --md-footer-bg-color:hsla(var(--md-hue),15%,12%,0.87);
    --md-footer-bg-color--dark:hsla(var(--md-hue),15%,10%,1);
    --md-shadow-z1:0 0.2rem 0.5rem rgba(76, 98, 117, 0.692),0 0 0.05rem #0000001a;
    --md-shadow-z2:0 0.2rem 0.5rem #0000004d,0 0 0.05rem #00000040;
    --md-shadow-z3:0 0.2rem 0.5rem #0006,0 0 0.05rem #00000059;
    color-scheme:dark
}